* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

::selection {
    background-color: white;
    color: black
}

a {
    color: #cccccc;
    text-decoration: none;
}

a:hover {
    font-size: 1.9vh;
    color: white;
}

a:visited {
    color: white;
    text-decoration: none;
}

.container {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: url(../../../assets/windows-xp-wallpaper.jpg);
}                                                                                                     /*   General   */
/*===================================================================================================================*/

.picture-container {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.70);
    z-index: 10;
}

.picture-container img {
    margin: auto;
    opacity: 100%;
    height: 100%;
    z-index: 11;

    /* No text or image selection */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}                                                                                                     /*   Picture   */
/*===================================================================================================================*/

.cmd-container {
    position: absolute;
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 6vw;
    margin-top: 24vh;
}

.cmd-header {
    background-color: #2B2B2B;
    width: 100%;
    height: 3vh;
    display: flex;
    align-items: center;
    font-family: Segoe UI;
    font-size: 1.6vh;
    color: white;
}

.cmd-header img {
    height: 60%;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
}

.cmd-body {
    background-color: #0C0C0C;
    width: 100%;
    height: 100%;
    font-family: Courier New;
    color: #cccccc
}                                                                                                         /*   CMD   */
/*===================================================================================================================*/

.browser-container {
    position: absolute;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 5%;
}

.browser-header {
    background-color: #CCCCCC;
    width: 100%;
    height: 3vh;
    display: flex;
    align-items: center;
    font-family: Segoe UI;
    font-size: 1.6vh;
    border-radius: 2vh;
}

.browser-header img {
    height: 60%;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
}

.browser-search-box {
    width: 40%;
    height: 8vh;
}

.browser-search-input {
    background-color: white;
    width: 100%;
    height: 8vh;
    border-radius: 4vh;
    border: 0.3vh solid lightgrey;
    font-size: 150%;
    text-align: center;
}

.browser-search-input:focus {
    outline: 0;
}

.browser-body {
    background-color: #EEEEEE;
    width: 100%;
    height: 100%;
    font-family: Segoe UI;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
}

.browser-body iframe{
    width: 100%;
    height: 100%;
}                                                                                                     /*   Browser   */
/*===================================================================================================================*/

.word-container {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #2A579A;
    width: 40%;
    height: 80%;
    margin-top: 14vh;
    margin-left: 40vw;
}

.word-container:active {
    z-index: 4;
}

.word-header {
    width: 99.5%;
    height: 3vh;
    display: flex;
    align-items: center;
}

.word-header:hover {
    z-index: 4;
}

.word-header img {
    height: 50%;
    margin-left: 1vh;
}

.word-body {
    width: 99.5%;
    height: 96%;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.word-toolbar {
    width: 100%;
    height: 8vh;
    background-color: #EEEEEE;
    border-bottom: 2px solid #DDDDDD;
}

.word-page {
    width: 80%;
    height: 100%;
    margin-top: 6vh;
    background-color: whitesmoke;
}                                                                                                        /*   Word   */
/*===================================================================================================================*/

.ttt-container {
    width: 30vh;
    height: 30vh;
    margin-top: 6vh;
    background-color: dodgerblue;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.ttt-header {
    height: 3vh;
    background-color: dodgerblue;
    display: flex;
}

.ttt-row {
    height: 33%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.ttt-column {
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
}

.ttt-end-screen {
    position: absolute;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 350%;
    font-family: Segoe UI;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.20);
}

.ttt-column img {
    height: 100%;
    margin: 0;
}

.ttt-body {
    background-color: white;
    height: 26.5vh;
    width: 29.5vh;

    /* No text or image selection */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}                                                                                                 /*   Tic Tac Toe   */
/*===================================================================================================================*/

.desktop-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8vh;
    color: white;
    font-family: Segoe UI;
    text-shadow: 1px 1px #000000;
    text-align: center;
    margin: 2vh;

    /* No text or image selection */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

.desktop-icon img {
    width: 60%;
    margin-bottom: 1vh;
}                                                                                                /*   Desktop Icon   */
/*===================================================================================================================*/

.taskbar-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4%;
    display: flex;
    flex-direction: row;
    background: linear-gradient(
        to top, 
        #245DDC,
        #3F81DA
    );
    z-index: 10;
}

.taskbar {
    width: 100%;
    height: 100%;
}

.taskbar-windows-logo {
    width: 7%;    
    display: flex;
    align-items: center;
    background: linear-gradient(
        to top, 
        #1C961E, 
        #2C6129
    );
    height: 100%;
    border-top: 2px solid #0B4126;
    border-right: 2px solid #0B4126;
    border-top-right-radius: 1.5vh;
    border-bottom-right-radius: 1.5vh;

    /* No text or image selection */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

.taskbar-windows-logo img {
    height: 80%;
    margin-left: 10%;
}

.taskbar-windows-logo span {
    color: white;
    font-family: Segoe UI;
    font-size: 2vh;
    margin-left: 5%;
}                                                                                                      /*   Taskbar   */
/*===================================================================================================================*/