<div class="container">  
    <!-- Picture -->
    <div class="picture-container" *ngIf="pictureId != 0" (click)="pictureId = 0">
        <img src="../../../assets/my-photos/{{pictureId}}.jpg" alt="picture of Jorrit Schepers">
    </div>

    <!-- Tic Tac Toe -->
    <div [style.zIndex]="tttZIndex" class="ttt-container" (click)="moveTabToFront(TTT_ID)" *ngIf="showingTicTacToe" cdkDrag>
        <div class="ttt-header" cdkDragHandle>
            <span>Tic Tac Toe</span>
        </div>
        <div class="ttt-body">
            <div class="ttt-end-screen" *ngIf="ttt.playerWon != null" (click)="ttt.resetGame()">
                <span *ngIf="ttt.playerWon == 'cross'" style="color: rgb(0, 200, 0)">You won!</span>
                <span *ngIf="ttt.playerWon == 'circle'" style="color: red">You lost</span>
                <span *ngIf="ttt.playerWon == 'draw'" style="color: grey">Draw!</span>
            </div>
            <div class="ttt-row" *ngFor="let row of ttt.fieldOfPaths; let y = index">
                <div class="ttt-column" *ngFor="let tile of row; let x = index">
                    <img src="{{ttt.fieldOfPaths[y][x]}}" (click)="ttt.clickedOn(x, y)">
                </div>
            </div>
        </div>
    </div>

    <!-- Word -->
    <div [style.zIndex]="wordZIndex" class="word-container" *ngIf="showingWord" (click)="moveTabToFront(WORD_ID)" cdkDrag>
        <div class="word-header" cdkDragHandle>
            <img src="../../../assets/icons/save-icon-whitepng.png" alt="Save icon">
        </div>
        <div class="word-body">
            <div class="word-toolbar">
                
            </div>
            <div class="word-page">
                hoi
            </div>
        </div>
    </div>

    <!-- CMD -->
    <div [style.zIndex]="cmdZIndex" class="cmd-container"  (click)="moveTabToFront(CMD_ID)" *ngIf="showingCmd" cdkDrag>
        <div class="cmd-header" cdkDragHandle>
            <img src="../../../assets/icons/cmd-icon-white.png" alt="cmd icon">
            <span>a great interface!</span>
            <img src="../../../assets/icons/close-button" alt="close button">
        </div>
        <div class="cmd-body">
            <span>C:\Users\JorritSchepers>_</span><br>
            <br>
            <span>C:\Users\JorritSchepers>dir</span><br>
            <br>
            <span>Directory of C:\Users\JorritSchepers</span><br>
            <br>
            <a routerLink="/about-me" routerLinkActive="active"><span>07/01/2020 23:31 &nbsp; &lt;DIR&gt; &nbsp;&nbsp;&nbsp; about-me</span></a><br>
            <a routerLink="/my-projects" routerLinkActive="active"><span>10/01/2020 19:01 &nbsp; &lt;DIR&gt; &nbsp;&nbsp;&nbsp; my-projects</span></a><br>
            <a routerLink="/contact-me" routerLinkActive="active"><span>15/01/2020 03:54 &nbsp; &lt;DIR&gt; &nbsp;&nbsp;&nbsp; contact-me</span></a><br>
        </div>
    </div>
    
    <!-- Browser -->
    <div [style.zIndex]="browserZIndex" class="browser-container"  (click)="moveTabToFront(BROWSER_ID)" *ngIf="showingBrowser" cdkDrag>
        <div class="browser-header" cdkDragHandle>
            <img src="https://handiggoed.nl/ontwikkelsite/wp-content/uploads/2015/12/IETS-400x400.jpg" alt="browser icon">
            <span>The little less dark web</span>
        </div>
        <div class="browser-body">
            <!-- <iframe src=asd *ngIf="currentSearchWordUrl != null"></iframe> -->
            <!-- <iframe src="sanitizer.bypassSecurityTrustUrl(currentSearchWordUrl)" *ngIf="currentSearchWordUrl != null"></iframe> -->
            <!-- <div class="browser-search-box" *ngIf="currentSearchWordUrl == null"> -->
            <div class="browser-search-box">
                <form [formGroup]="searchForm" (ngSubmit)="searchWord(searchForm.value)">
                    <input id="word" class="browser-search-input" type="text" formControlName="word" placeholder="Search for anything!" required>
                </form>
            </div>
        </div>
    </div>

    <!-- Desktop Icons -->
    <div class="desktop-icon" (click)="pictureId = 1">
        <img src="../../../assets/my-photos/1.jpg">
        <span>Jorrit.jpg</span>
    </div>

    <div class="desktop-icon" (click)="openTab(TTT_ID)">
        <img src="../../../assets/ttt/cross/mm.png">
        <span>tic-tac-toe.exe</span>
    </div>

    <div class="desktop-icon" (click)="openTab(CMD_ID)">
        <img src="../../../assets/icons/cmd-icon-white.png">
        <span>cmd.exe</span>
    </div>

    <div class="desktop-icon" (click)="openTab(WORD_ID)">
        <img src="../../../assets/icons/save-icon-whitepng.png">
        <span>fancy word pad.exe</span>
    </div>

    <div class="desktop-icon" (click)="openTab(BROWSER_ID)">
        <img src="https://handiggoed.nl/ontwikkelsite/wp-content/uploads/2015/12/IETS-400x400.jpg">
        <span>a light browser.exe</span>
    </div>

    <!-- Taskbar -->
    <div class="taskbar-container">
        <div class="taskbar-windows-logo">
            <img src="../../../assets/icons/windows-logo-icon.png" alt="WindowsXP logo">
            <span><i><b>start</b></i></span>
        </div>
        <div class="taskbar"></div>
    </div>
</div>